.filtersMobile {
  position: fixed;
  //   overflow: hidden;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
  animation: expand 0.8s;
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}
